body {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2bc72d3c-39ce-45f3-a55c-e0903291ace0/d17dpy4-a8d0b94a-0351-4d9b-9636-33cc1842f0d2.jpg/v1/fill/w_600,h_486,q_75,strp/background_art_for_pokemon_by_orangedroplet_d17dpy4-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDg2IiwicGF0aCI6IlwvZlwvMmJjNzJkM2MtMzljZS00NWYzLWE1NWMtZTA5MDMyOTFhY2UwXC9kMTdkcHk0LWE4ZDBiOTRhLTAzNTEtNGQ5Yi05NjM2LTMzY2MxODQyZjBkMi5qcGciLCJ3aWR0aCI6Ijw9NjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.Xa7d7pbU0rU7MNWAomQrAPKjMwYxdB82ALLKMZO_pOs);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
}

.heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 6vh;
    color:rgb(2, 59, 2);
    text-align: center;
}

.game-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.card {
    display: grid;
    place-items: center;
    height: 30vh;
    width: 30vw;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdbtUKL2lFkpIs2-l9A9keBaWUYPEAKVoZoA&usqp=CAU);
    background-repeat: no-repeat;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 80%;
    max-height: 80%;
    opacity: 0;
}

.card.clicked {
    background-color: rgb(237, 240, 35); 
}    

.card.checked {
    background-color: green;
}

.card.clicked img, .card.checked img {
    opacity: 1;
}

.card.wrong {
    background-color: rgb(238, 87, 87);
}

